*{
	margin: 0;
	padding: 0;
}
html {
  overflow-y: scroll;
}


body {
	background-color: #f7f7f7;
	font-family: 'Libre Baskerville', serif;
	font-size: 12px;


}

#sign-in-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: rgba(0,0,0,.3)
}

.logo{
	margin-bottom: 20px
}

.modal {
	width: 600px;
	height: 400px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(255,255,255,.9);
	transition: .5s;


}
.modal:hover {
	background-color: rgba(255,255,255,1);
	transition: .5s;

}

#sign-in {
	color: #fff;
	background-color: #0275d8;
	border: 1px solid  #0275d8;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #ccc;
	padding: 20px 15px;
	font-size: 36px;
	transition: .5s;

}

#sign-in:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
    transition: .5s;
    cursor: pointer;
}

#sign-out {
	position: absolute;
	right: 10px;
	top: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: rgba(0,0,0,.05);
	border-radius: 2px;
	transition: .5s;

}

#sign-out:hover {
	background-color: rgba(0,0,0,.2);
	transition: .5s;

}

#total-links-container {

}

.stats-box {
	width: 200px;
	border: 1px solid #ccc;
	background-color: white;
	position: a;
	box-shadow: 1px 1px 5px #ccc;
	padding: 10px 5px;
	font-size: 1em;
}

#total-clicks-container {

}

.top-nav {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.browser-stream {
	font-size: 2.5em;
	text-align: center;
	width: 100%;
	background-color: white;
}

#container {
	display: flex;
	flex-wrap: wrap;

}

.delete-button {
	position: absolute;
	right: 10px;
	top: 20px;
	color: #a94442;
	display: none !important;
	padding: 5px;
	font-size: 2em !important;
}

.delete-button:hover {
	color: #3c763d;

}

.disappear {
	display: none;
}


.site-block {
	position: relative;
	display: flex;
	margin: 5px 0;
	padding: 15px;
	background-color: rgba(255,255,255,.9);
	width: 100%;
	border-radius: 2px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 50%;
	margin-left: 25%;
	transition: .5s;
}

.site-block:hover  .delete-button{
	display: block !important;
}

.site-block:first-child {
	margin-top: 10px;
}

.site-block:last-child {
	margin-bottom: 10px;
}

.left-side {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-side {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 5px;

}

.prof-pic {

}

.prof-pic img {
	height: 45px;
	border-radius: 50%
}

.full-name {

}

.site-title {
	align-self: flex-end;
	margin-left: 5px;
}

#site-link {
	color: black;
	font-size: 14px;
}

.favicon {
	align-self: flex-end;

}

.favicon img {

}

.time-posted {
	flex-basis: 100%;
	align-self: flex-start;
	margin-left: 20px;
	font-size: 12px;

}
.hidden {
	display: none !important;
}

.close-profile-div {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.close-profile-button {
	font-size: 1.4em !important;
	color: #a94442;
	padding: 5px;

}

.profile-page {
	position: absolute;
	width: 100%;
	background-color: #f7f7f7;
	z-index: 9;
	top: 37px;
	left: 0;
}

.profile-container {
	position: relative;
	width: 50%;
	margin: 10px 0 0 25%;
	background-color: white;
	padding: 15px;
	display: flex;
}

.pp-left-side {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 150px;
}

.pp-prof-pic {
}

.pp-prof-pic img {
	border-radius: 50%;
}

.display-name-div {
	text-align: center;
	font-size: 14px;
	margin-bottom: 10px;
}

.following-button-div {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10px;

}

.following-button {
	background-color: #5cb85c;
	color: white;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #5cb85c;
	border-radius: 2px;
	width: 100%;


}

.pp-right-side {
	width: 100%;
	display: flex;

}

.user-stats {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	font-size: 16px;
}

.links {
	width: 25%;
	text-align: center;

}

.links-number {

}

.links-text {
	
}

.followers {
	width: 25%;
	text-align: center;



}

.followers-number {

}

.followers-text {
	
}

.following {
	width: 25%;
	text-align: center;


}

.following-number {

}

.following-text {
	
}

.profile-links-container {
	position: absolute;
	top: 240px;
	left: 0;
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;


}

.pp-link-box {
	padding: 15px;
	width: 50%;
	background-color: rgba(255,255,255,1);
	border-radius: 2px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 5px 0 5px 25%;
	display: flex;
	flex-wrap: wrap;
}

.pp-link-box img {
	margin-right: 10px;
}

.pp-link-box div {
	margin-left: 25px !important;
}




