*
{
  margin: 0;
  padding: 0;
}
html
{
  overflow-y: scroll;
}


body
{
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;

  background-color: #f7f7f7;
}

#sign-in-section
{
  display: flex;

  height: 100%;

  background-color: rgba(0,0,0,.3);

  justify-content: center;
  align-items: center;
}

.logo
{
  margin-bottom: 20px;

}

.logo h1 {
	text-align: center;
	font-size: 48px;
}

.logo h3 {
	padding: 30px;
	text-align: center;
}

.modal
{
  display: flex;
  flex-direction: column;

  width: 600px;
  height: 400px;

  transition: .5s;

  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(255,255,255,.9);

  justify-content: center;
  align-items: center;
}
.modal:hover
{
  transition: .5s;

  background-color: rgba(255,255,255,1);
}

#sign-in
{
  font-size: 36px;

  padding: 20px 15px;

  transition: .5s;

  color: #fff;
  border: 1px solid  #0275d8;
  border-radius: 3px;
  background-color: #0275d8;
  box-shadow: 1px 1px 2px #ccc;
}

#sign-in:hover
{
  cursor: pointer;
  transition: .5s;

  color: #fff;
  border-color: #01549b;
  background-color: #025aa5;
}

#sign-out
{
  position: absolute;
  top: 5px;
  right: 10px;

  padding: 5px;

  transition: .5s;

  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(0,0,0,.05);
}

#sign-out:hover
{
  transition: .5s;

  background-color: rgba(0,0,0,.2);
}



.stats-box
{
  font-size: 1em;

  position: a;

  width: 200px;
  padding: 10px 5px;

  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 1px 1px 5px #ccc;
}



.top-nav
{
  display: flex;

  width: 100%;

  justify-content: center;
  align-items: center;
}

.browser-stream
{
  font-size: 2.5em;

  width: 100%;

  text-align: center;

  background-color: white;
}

#container
{
  display: flex;

  flex-wrap: wrap;
}

.site-links-container {
	display: flex;
	flex-wrap: wrap;
}

.delete-button
{
  font-size: 2em !important;

  position: absolute;
  top: 20px;
  right: 10px;

  display: none !important;

  padding: 5px;

  color: #a94442;
}

.delete-button:hover
{
  color: #3c763d;
}

.disappear
{
  display: none;
}


.site-block
{
  position: relative;

  display: flex;

  width: 100%;
  width: 50%;
  margin: 5px 0;
  margin-left: 25%;
  padding: 15px;

  transition: .5s;

  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(255,255,255,.9);
}

.site-block:hover  .delete-button
{
  display: block !important;
}

.site-block:first-child
{
  margin-top: 10px;
}

.site-block:last-child
{
  margin-bottom: 10px;
}

.left-side
{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.right-side
{
  display: flex;

  margin-left: 5px;

  align-items: center;
  flex-wrap: wrap;
}


.prof-pic {
	display: none;
}

.prof-pic img
{
  height: 45px;

  border-radius: 50%;
}



.site-title
{
  margin-left: 5px;

  align-self: flex-end;
}

#site-link
{
  font-size: 14px;

  color: black;
}

.favicon
{
  align-self: flex-end;
}



.time-posted
{
  font-size: 12px;

  margin-left: 20px;

  flex-basis: 100%;
  align-self: flex-start;
}
.hidden
{
  display: none !important;
}

.close-profile-div
{
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}

.close-profile-button
{
  font-size: 1.4em !important;

  padding: 5px;

  color: #a94442;
}

.profile-page
{
  position: absolute;
  z-index: 9;
  top: 37px;
  left: 0;

  width: 100%;

  background-color: #f7f7f7;
}

.profile-container
{
  position: relative;

  display: flex;

  width: 50%;
  margin: 10px 0 0 25%;
  padding: 15px;

  background-color: white;
}

.pp-left-side
{
  display: flex;

  width: 150px;

  flex-wrap: wrap;
  justify-content: center;
}



.pp-prof-pic img
{
  border-radius: 50%;
}

.display-name-div
{
  font-size: 14px;

  margin-bottom: 10px;

  text-align: center;
}

.following-button-div
{
  display: flex;

  width: 100%;
  margin-top: 10px;

  justify-content: center;
}

.following-button
{
  font-size: 14px;

  width: 100%;
  padding: 5px;

  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #5cb85c;
}

.pp-right-side
{
  display: flex;

  width: 100%;
}

.user-stats
{
  font-size: 16px;

  display: flex;

  width: 100%;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.links
{
  width: 25%;

  text-align: center;
}





.followers
{
  width: 25%;

  text-align: center;
}





.following
{
  width: 25%;

  text-align: center;
}





.profile-links-container
{
  position: absolute;
  top: 240px;
  left: 0;

  width: 100%;

  background-color: #f7f7f7;
}

.pp-link-box
{
  display: flex;

  width: 50%;
  margin: 5px 0 5px 25%;
  padding: 15px;

  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(255,255,255,1);

  flex-wrap: wrap;
}

.pp-link-box img
{
  margin-right: 10px;
}

.pp-link-box div
{
  margin-left: 25px !important;
}

.users-to-follow
{
  position: absolute;
  z-index: 19;
  top: 42px;
  left: 5px;

  width: 150px;
  padding: 10px;

  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
}

.users-to-follow h3
{
  font-size: 16px;
  text-align: center;
}

.utf-list
{
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

.name-div
{
  width: 100%;
  margin: 20px 0 5px 0;

  text-align: center;
}

.utf-list img
{
  width: 50px;
  height: 50px;
}

.utf-list img:hover
{
  cursor: pointer;
}

.request-follow
{
  width: 75%;
  margin: 5px 0 0 0;
  padding: 5px;
  border: 1px solid transparent;

  color: white;
  border-radius: 3px;
  background-color: #5cb85c;
}

.request-follow:hover
{
  cursor: pointer;
}

.unfollow
{
  width: 75%;
  margin: 5px 0 0 0;
  padding: 5px;

  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #d9534f;
}

.unfollow:hover
{
  cursor: pointer;

  color: #fff;
  border-color: #c12e2a;
  background-color: #c9302c;
}

.requests-box {
	position: absolute;
	z-index: 19;
	top: 42px;
	right: 5px;

	width: 150px;
	padding: 15px 10px;

	border: 1px solid #ccc;
	background-color: white;
	display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
}

.requests-box h3 {
	font-size: 18px;

	padding: 5px 0;

	text-align: center;}


	.requesters-name
	{
	  width: 100%;
	  margin: 20px 0 5px 0;

	  text-align: center;
	}

	.approve-button {
		width: 75%;
		margin: 5px 0 0 0;
		padding: 5px;
		border: 1px solid transparent;

		color: white;
		border-radius: 3px;
		background-color: #5cb85c;
	}

	.ignore-button {
		width: 75%;
		margin: 5px 0 0 0;
		padding: 5px;
		border: 1px solid transparent;

		color: white;
		border-radius: 3px;
		background-color: #c9302c;
	}

	.buttons-container {
		width: 50%;
		margin-left: 25%;
		text-align: center;
		display: flex;
		justify-content: center;
		margin-top: 10px;
		margin-bottom: 15px;
		font-size: 16px;
	}

	.anonymous-public-links {
		width: 33%;
		padding: 10px;
	}
	.anonymous-public-links:hover {
		cursor: pointer;
	}

	.people-im-following {
		width: 33%;
		padding: 10px;
	}

		.people-im-following:hover {
			cursor: pointer;
		}

	.me {
		width: 33%;
		padding: 10px;
	}

	.me:hover {
		cursor: pointer;
	}

	.selected {
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		background-color: white;
		border-radius: 3px;
	}

	.prof-pic-show {
		display: block;
	}


	.prof-pic-show img
	{
	  height: 45px;

	  border-radius: 50%;
	}

	.help {
		position: absolute;
		top: 40px;
		right: 5px;
		font-size: 20px !important;
		background-color: white;
		padding: 10px 12px;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-radius: 3px;
	}
	.help:hover {
		cursor: pointer;
		color: green;
	}

	.help-box {
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-radius: 3px;
		font-size: 16px;
		padding: 15px;
		position: absolute;
		top: 85px;
		color: black;
		width: 200px;
		right: 5px;
		background-color: white;
	}